.product-heading {
  font-size: 2rem;
  font-weight: 300;
  background-color: #fff;
  padding: 10px 0px;
  /* text-align: center; */
}
.bg-product {
  padding: 40px;
}
.bg-product .product-flex-board {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.category-round-box {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #c9c2c2;
  margin: auto;
}
.category-round-box img {
  width: 100%;
  image-rendering: optimizeQuality;
}
.category-box-home {
  padding: 15px;
  background-color: #f7f5f5;
  width: max-content;
}
.swiper-slide {
  width: max-content;
}
.category-box-overflow .swiper-slide {
  margin-right: 20px;
}
.swiper-slide a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}
.category-box-home span {
  text-align: center;
  margin-top: 5px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.category-box-overflow {
  display: flex;
  overflow-x: auto;
}
.category-box-overflow::-webkit-scrollbar-track {
  background: transparent;
}
.category-box-overflow::-webkit-scrollbar-button {
  display: none;
}
.category-box-overflow::-webkit-scrollbar {
  width: 20px;
}
.category-box-overflow::-webkit-scrollbar-thumb {
  background: #888;
}
.blog-box {
  max-width: 420px !important;
  background-color: #faf8f8;
  padding: 15px;
}
.blog-box:hover {
  box-shadow: 2px 2px 20px rgba(141, 141, 141, 0.336);
  transition: all ease-in-out 400ms;
}
.blog-box a {
  text-decoration: none;
  color: rgb(15, 15, 15);
}
.blog-box a:hover {
  text-decoration: none;
  color: rgb(78, 78, 78);
}
.blog-img {
  height: 250px;
}
.blog-box img {
  width: 100%;
  height: 100%;
}
.mobile-category-view{
  display: none;
}
.desktop-categories-view > .row:first-of-type , .desktop-categories-view > .row:nth-of-type(2){
  display: block;
}


@media (max-width: 576px) {
  .product-heading{
    font-size: 1.5rem;
  }
  .main-banner{
    margin-top: 5px !important;
  }
  .menhood-blogs {
    flex-direction: column;
  }
  .bg-product {
    padding: 20px;
  }
  .blog-box {
    margin-bottom: 2rem;
  }
  .mobile-category-view{
    display: block;
    overflow: hidden;
  }
  .category-box-home {
    padding: 8px;
  }
  .category-box-overflow {
    padding: 6px;
  }
  .category-box-overflow .swiper-slide {
    margin-right: 14px;
  }
  .category-round-box {
    height: 50px;
    width: 50px;
  }
  .category-box-home span{
    font-size: 12px;
  }
  .blog-img {
    height: 200px;
  }
  .desktop-categories-view > .row:first-of-type , .desktop-categories-view > .row:nth-of-type(2){
    display: none;
  }
}
/* .blog-box h4,
.blog-box p {
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
