@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* border: 1px solid #000; */
}

.swiper-pagination{
  top: 88% !important;
}