<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Black Bag | Online Shopping</title>
  <script type="module" crossorigin src="/assets/js/index-pREd0YF9.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/js/vendor-DHbHB7JU.js">
  <link rel="modulepreload" crossorigin href="/assets/js/router-ZO-Od9lD.js">
  <link rel="modulepreload" crossorigin href="/assets/js/redux-YxeP37lX.js">
  <link rel="modulepreload" crossorigin href="/assets/js/ui-DlALkr72.js">
  <link rel="modulepreload" crossorigin href="/assets/js/utils-fu-aRo5h.js">
  <link rel="modulepreload" crossorigin href="/assets/js/auth-D1PQBDiU.js">
  <link rel="modulepreload" crossorigin href="/assets/js/data-BkTtQcKf.js">
  <link rel="modulepreload" crossorigin href="/assets/js/icons-kd463aea.js">
  <link rel="stylesheet" crossorigin href="/assets/index-CHUtB_8-.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>
