.ecom-header {
  width: 100%;
  background-color: var(--main-web-color);
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0%;
  z-index: 100;
}
.main-logo {
  display: flex;
}
.ecom-header .main-logo .logo {
  width: 130px;
}
.search-bar input {
  width: 550px;
  height: 40px;
  border: 1px solid #dce0d8;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
}

.search-bar input:focus {
  border: 1px solid #b6e2a1;
  border-color: #b6e2a1;
  outline: none;
}
.input-search {
  position: relative;
}
.input-search .search-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0%;
  top: 0%;
  background: #9ea09f;
  border: 1px solid #9ea09f;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.search-icon:hover {
  background: #8e9290;
}
.input-search svg {
  height: 1.6em;
  width: 1.6em;
  color: var(--main-web-color);
}
.info-bar a,
.address-box a,
.cat-click {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0);
}
.info-bar a:hover,
.address-box a:hover,
.cat-click:hover {
  color: #68b984;
  border-bottom: 1px solid #68b984;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}
.address-box {
  cursor: pointer;
  margin-left: auto;
}
.address-box a {
  margin-right: 20px;
}
.address-box a {
  color: #fff;
  text-decoration: none;
}
.info-bar a:last-of-type svg {
  height: 1.2em;
  width: 1.2em;
}
.cat-click {
  position: relative;
}
.user-name-color {
  color: #68b984 !important;
}
.cat-dropdown {
  display: flex;
  flex-flow: column;
  position: absolute;
  background-color: var(--main-web-color);
  z-index: 1000;
  transform: translateY(20px);
  transition: all 600ms;
  box-shadow: 2px -2px 10px #ffffff5b;
  width: max-content;
}
.cat-click::selection,
.cat-dropdown a::selection {
  background-color: transparent;
}
.hide {
  display: none;
}
.cat-dropdown a {
  padding: 10px;
  margin: 0;
}
/* .cat-dropdown a:nth-of-type(odd) {
  border: 4px;
  border-left: 4px solid var(--main-web-color);
}
.cat-dropdown a:nth-of-type(even) {
  border: 4px;
  border-right: 4px solid var(--main-web-color);
} */
.cat-dropdown a:hover {
  background-color: var(--main-web-color);
  color: #dce0d8;
}
.ham-menu,
.mobile-footer-nav {
  display: none;
}

@media (max-width: 768px) {
  .info-bar,
  .address-box {
    display: none !important;
  }
  .search-bar .input-search {
    margin-top: 1rem;
    width: 100%;
  }
  .search-bar input {
    width: 100%;
  }
  .main-logo {
    justify-content: space-between;
    display: none;
  }
  .ham-menu {
    display: block;
  }
  .ham-menu svg {
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
  }
  .mobile-footer-nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #fdfdfd;
    position: fixed;
    bottom: 0%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #9ea09f;
  }
  .mobile-footer-nav a {
    text-decoration: none;
  }
  .mobile-footer-nav svg {
    width: 1.8rem;
    height: 1.8rem;
    /* background-color: #000; */
    color: #000;
  }
}
