.main-wrap-user {
  height: 100vh;
  background: #0d1117;
  padding: 1.8rem;
  box-sizing: border-box;
}
.main-wrap-user h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 20px;
}
.main-wrap-user .login-logo {
  width: 150px;
  height: 70px;
  display: block;
  margin-bottom: 15px;
}
.main-wrap-user .login-logo img {
  height: 100%;
  width: 100%;
}
.form-wrap-user {
  border: 0.1rem solid #21262d;
  border-radius: 6px;
  background-color: #161b22;
  padding: 15px;
  width: 330px;
}
.form-wrap-user label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 6px;
}
.form-wrap-user form input {
  background-color: #0d1117;
  border: 1px solid #21262d;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px 10px;
}
.form-wrap-user form input:focus {
  background-color: #0d1117;
  border-color: #323841;
  box-shadow: none;
}

.form-wrap-user form input:-webkit-autofill {
  box-shadow: inset 0 0 0 32px #0d1117 !important;
  -webkit-text-fill-color: #fff;
}
.form-wrap-user form input,
.form-wrap-user form input:focus {
  color: #fff;
}
.form-wrap-user button {
  background-color: #238636;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
}
.form-wrap-user button:hover {
  background-color: #2ea043;
  color: #fff;
}
.password-div {
  position: relative;
}
.password-div .forgot-pass-link {
  position: absolute;
  top: 1%;
  right: 0%;
  font-size: 14px;
  text-decoration: none;
}
.create-link-box {
  width: 330px;
  padding: 15px;
  border: 1px solid #21262d;
  border-radius: 6px;
}
.create-link-box span {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
.create-link-box a,
.password-div .forgot-pass-link,
.menhood-login-nav a {
  color: #1e73f1;
}
.menhood-login-nav a {
  font-size: 12px;
}
.main-account-profile-wrap {
  background-color: #0d1117;
}
.container-account-wrap {
  width: 65%;
}
.account-profile-wrap {
  width: 100%;
  /* box-shadow: 2px 2px 15px hsla(216, 28%, 7%, 0.144); */
  margin-top: 3rem;
  background-color: #161b22;
  padding: 30px;
}
.account-profile-wrap .profile-img {
  height: 180px;
  width: 180px;
  border: 4px solid rgb(231, 230, 230);
  box-shadow: inset 4px -4px 15px hsla(220, 1%, 45%, 0.514);
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.account-profile-wrap h2 {
  font-weight: 400;
  font-size: 21px;
  color: #ebe8e8;
  margin: 0 auto;
}
.account-profile-wrap h4,
.profile-data-box label {
  color: #fff;
}
.account-profile-wrap span {
  color: #a3a3a7;
  font-size: 14px;
}
.account-profile-wrap .profile-img img {
  width: 100%;
  height: 100%;
}
.profile-data-box,
.profile-static-box {
  padding: 0rem 1.2rem !important;
}
.profile-main-box {
  box-shadow: 2px 2px 10px #373a3f3f;
  padding: 25px 0px;
  border: 0.1rem solid #21262d;
  border-radius: 6px;
}
.form-wrap-user-1 {
  width: auto;
}
.form-wrap-user-1 button {
  width: auto;
  border: none;
}
.form-wrap-user-1 label {
  margin-bottom: 4px;
}
