.cart-heading-txt {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}
.item-wrapper {
  width: 95%;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
  background-color: #fafafa;
}
.item-wrapper .item-img {
  height: 90px;
  width: 90px;
  /* border: 1px solid #dddada; */
  margin-right: 10px;
}
.item-wrapper svg {
  height: 1.6rem;
  width: 1.6rem;
  color: #be2e2e;
  background-color: #ffffff;
  border: 1px solid #a06868;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0%;
  bottom: 0%;
  margin: 5px;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.item-name,
.item-quantity-price {
  width: 50%;
  padding: 0px 5px;
}
.item-quantity-price {
  padding: 0px 25px;
}
.item-name span:last-of-type {
  font-size: 14px;
  color: #807777;
}
.item-name span:first-of-type {
  font-size: 1.3rem;
  line-height: 26px;
}
.item-quantity-price span:last-of-type {
  font-size: 1.4rem;
}
.cart-total {
  height: 200px;
}
.cart-heading-txt-total {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  border-bottom: 1px solid #c9c3c3;
  display: block;
  padding-bottom: 8px;
}
.cart-total-details {
  width: 100%;
}
.cart-total-details td {
  color: #807777;
  font-size: 14px;
}
.cart-total-details tr > td:last-of-type {
  color: #141313;
  text-align: end;
}
.cart-total-box {
  border-bottom: 2px solid #141313;
  padding: 12px 0px;
}
.full-total {
  margin-top: 10px;
}
.full-total span {
  font-weight: 500;
  font-size: 16px;
}
