.shippingForm{
    padding: 20px;
    width: 50vmax;
}
.shippingHeading{
    text-align: center;
    margin-top: 2rem;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active {
    color: #000000 !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
    color: #31cd84 !important;
}
.cart-heading-txt{
    font-size: 2rem;
}
.form-container-wrapper{
    width: 350px;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #e6e3e3;
    border-radius: 5px;
}