.card-box {
  width: 235px;
  height: max-content;
  border: 1px solid #cbcccf;
  background-color: #fff;
  /* margin: auto; */
  margin-bottom: 10px;
  border-radius: 4px;
}
.card-box:hover {
  transform: translateY(-5px);
  transition: all 800ms;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.219);
}
.card-description h2 {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 0px;
  text-align: center;
}
.card-box .card-image {
  width: 100%;
  height: 200px;
}
.card-box .card-image img {
  height: 100%;
}
.card-inner-box {
  padding: 15px;
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.card-inner-box:hover {
  color: #000000;
}
.ratings > span {
  font-size: 12px;
  font-weight: 500;
}
.card-description > span {
  font-size: 22px;
  text-align: center;
  display: block;
}

.single-product .product-img {
  width: 100%;
  height: 500px;
}
.product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain !important;
  object-position: center !important;
}
.product-img {
  position: relative;
  border: 1px solid rgb(211, 206, 206);
  padding: 10px;
}
.mini-image-box-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
}
.mini-img-box {
  width: 50px;
  height: 60px;
  margin: 8px;
  border: 1px solid rgb(255, 255, 255);
}
.mini-img-box:hover {
  box-shadow: 1px -1px 5px #f3841c;
  cursor: pointer;
  border: 1px solid #f3841c;
}
.mini-img-box img {
  width: 100%;
  height: 100%;
}
.quantity-wrapper {
  display: flex;
  width: max-content;
}
.quantity-wrapper label {
  font-weight: bold;
  margin-right: 10px;
}
.quantity-box > button,
input {
  width: 40px;
  background-color: #fff;
  border: 1px solid #b0b1b3;
  font-size: 16px;
  color: #232f3e;
  font-weight: 600;
}
.quantity-box input {
  border-left: none;
  border-right: none;
  text-align: center;
}
.quantity-box input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.cart-button,
.check-button {
  padding: 15px 10px;
  text-align: center;
  background-color: #232f3e;
  color: #fff;
  cursor: pointer;
}
.check-button {
  background-color: #40a851;
}
.total-quantity-price span {
  font-size: 25px;
  border: 1px solid #000;
}
.green {
  color: #40a851;
  font-size: 16px;
  font-weight: 400;
}
.red {
  color: #d40b0b;
}
.comment-txt {
  color: #535555;
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}
.rev-user-img {
  width: 50px;
  height: 50px;
  border: 1px solid #c2c0bf;
  border-radius: 50%;
}
.rev-user-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
.pagination .page-link {
  color: #0f0f0f;
}
.pagination .page-item .active {
  background-color: #40a851;
  border-color: #40a851;
}
.page-link:hover {
  color: #232f3e !important;
}
.all-product-heading {
  padding: 0.8rem 0rem;
}
.all-product-heading h1 {
  font-size: 2.4rem;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  width: 100%;
}
.bd-bottom {
  border-bottom: 1px solid #dbd8d8;
  margin: 0;
}
.bd-right {
  border-right: 1px solid #dbd8d8;
  margin: 0;
}
.side-bar {
  padding: 0 !important;
}
.nav-sidebar {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dbd8d8;
}
.nav-sidebar a {
  color: #3c3d3d;
  text-decoration: none;
  margin: 4px 0px;
  font-size: 13px;
  font-weight: 400;
}
.price-filter span:first-of-type,
.nav-sidebar span:first-of-type {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
.nav-sidebar a:hover {
  color: #0f0f0f;
}
.price-filter,
.side-heading,
.nav-sidebar {
  padding: 0.4rem 1rem;
}
.slider-component {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.filter-icon{
  display: none;
}
@media (max-width: 576px) {
  .product-heading{
    font-size: 1.5rem;
  }
  .filter-icon{
    display: flex;
    background: #000;
    border: 1px solid #989696;
    padding:4px 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
  }
  .filter-icon svg{
    color: #fff;
    width: 1.2rem;
    height: 1.2rem;
  }
  .all-product-heading h1{
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 400;
  }
  .side-bar{
    transform: translateX(-100%);
    position: absolute;
    transition: all 800ms;
  }
  .sidebar-animate{
    transform: translateX(0%);
    transition: all 600ms;
    position: relative;
    z-index: 1000;
    background: #f7f7f7;
  }
  .flex-gap {
    grid-gap: 1vmax;
    gap: 1vmax;
    justify-content: center;
  }
  .bg-product .product-flex-board {
    justify-content: center;
  }
  .card-box {
    width: 150px;
  }
  .card-box .card-image {
    height: 80px;
  }
  .card-description h2{
    font-size: 12px;
  }
  .ratings{
    margin-top: 4px;
  }
  .card-description > span{
    font-size: 18px;
  }
  .ratings span{
    font-size: 10px !important;
  }
  .card-inner-box {
    padding: 10px;
  }
  .main-banner {
    height: auto !important;
  }
  .bg-product {
    padding: 20px;
  }
  .single-product .product-img {
    height: 400px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
  }
  .product-desc-details h1{
    margin-top: 1rem;
  }
  .product-price{
    margin-top: 1rem;
  }
}
